
            <div class="row row-cols-1 row-cols-md-12 mb-12 text-center pt-5">
                <div class="col">
                    <div class="card mb-12 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Vista de Protductos</h4>
                        </div>

                        


                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Foto</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoTabla">
                            
                                </tbody>
                            </table>
                        </div>

                        
                        
                    </div>
                </div>


            </div>
    
            
